ADMIN_APP_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
FRONTEND_URL=
JWT_SECRET=
META_CAPI_ACCESS_TOKEN=
META_CAPI_TEST_EVENT_CODE=
META_GRAPH_API_VERSION=
META_PIXEL_ID=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_USER=
NEW_ORDER_NOTIFICATION_EMAILS=
NEXT_PUBLIC_API_URL=
NODE_ENV=
PASSENGER_APP_ENV=
PASSENGER_BASE_URI=
PORT=
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=
R2_SECRET_ACCESS_KEY=
SITEMAP_REVALIDATION_SECRET=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
TIKTOK_ACCESS_TOKEN=
TIKTOK_PIXEL_ID=
TIKTOK_TEST_EVENT_CODE=
